{
  "presets": [
    [
      "@babel/preset-env",{
        "useBuiltIns": "usage",
        "corejs": 2,
        "targets": {
            "chrome": 67
        },
      }
    ],
  ],
  "plugins": [
    "dynamic-import-webpack",
    "@babel/plugin-syntax-dynamic-import"
  ]
}